@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
*{
    text-decoration: none;
}

:root{
/*==========VAR COLORS==========*/
    --background-color: #030316;
    --title-color: #78C19C;
    --title-color-hover: #B9DCC4;
    --title-color-white: #FFF4E5;
    --text-color: #fff;
    --hightlight: #E15139;

        /* FIN VAR COLORS*/
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Neue Kabel', sans-serif;
    margin: 10px;
    background-color: var(--background-color);
    background-image: url(../img/grille2.png);
    background-repeat:repeat;
    background-size: 130%;
}



/*========== NAVIGATION ==========*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 0fr 2fr 2fr;
    grid-column-gap: 30px;
}

h1 {
    font-size: 40px;
            
}

.a-logo {
    width: 330px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 30px;
}

nav a {
    font-weight: bold;
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Neue Kabel', sans-serif;
    text-align: right;
    margin-right: 16px;
}

nav a:hover {
    color: var(--title-color-hover);
    transition: .5s ease;
}

.highlight {
    color: var(--hightlight);
}

        /* FIN NAVIGATION */
        
/*===== Cursor tracker =====*/
.cursor {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    z-index: -1;

}
/*===== FIN Cursor tracker =====*/

/* =========== Projets ============ */

.container {
    margin-top: 80px;
    display: grid;
    grid-template-areas: "left" "right";
    grid-template-columns: 60% 1fr;
}

.separation {
    font-size: 100px;
    padding: 0%;
    margin: 0%;
    color: #78C19C;
    text-align: center;
}
/* -------- PARTIEL 1 -------- */



/* =========== Stage ============ */


/* -------- MISMO -------- */


.img-mismo {
    margin-top: 34px;
    margin-left: 40px;
    border-radius: 25px;
    height: auto;
    width: 400px;
}

.left {
    color: var(--text-color);
    font-family: 'Neue Kabel', sans-serif;
    margin-left: 40px;
    margin-right: 80px;
    font-size: large;
}

.title-mismo {
    color: var(--title-color-white);
    text-align: center;
}

.gras-mismo {
    color: #9e7bd6;
}

/* -------- Esprit -------- */

.title-esprit {
    color: var(--title-color-white);
    text-align: center;
}

